/**
 * Search 
 */
.ui.search {

}

.has-data .ui.search {
  display: none;
}

.ui.search .prompt {
  width: 100%;
}


/**
 * Dropdown
 */
.ui.search .dropdown {
  position: absolute;  
  z-index: 999;

  box-sizing: border-box;
  display: none;
  width: 100%;
  max-height: 250px;
  margin: 0;  
  padding: 0;  
  overflow: scroll;

  list-style: none;  

  background: #fff;
  border: 1px solid #eee;
  border-top: none;  
  border-radius: 0px;  

  box-shadow: 0px 2px 10px rgba( 0, 0, 0, 0.15 );
}

.ui.search.active .dropdown {
  display: block;
}

.ui.search .dropdown {

}

.ui.search .dropdown a {  
  position: relative;

  display: flex;
  flex-flow: row;
  align-items: stretch;
  align-content: flex-start;
  padding: 12px;
  overflow: hidden;  

  list-style: none;

  color: #444;  

  border-bottom: 1px solid #eee;
  outline: 0;

  cursor: pointer;
}

.ui.search .dropdown a.active {
  color: #fff;

  background-color: #0073aa;
}

.ui.search .dropdown a > div {
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  padding: 0 0 0 12px;
  margin: 0;
}

.ui.search .dropdown a > img {
  display: block;
  height: 50px;
  width: 50px;
  margin: 0;
  object-fit: cover;
}

.ui.search .dropdown h5,
.ui.search .dropdown p {
  margin: 0;

  font-size: 1em;
  line-height: 1.35;
  color: inherit;
}

.ui.search .dropdown p {
  opacity: 0.5;
}