/**
 * Action Buttons
 */
.acf-vimeo-pro-data__buttons {
  position: relative;
  z-index: 10;

  display: none;

  margin-top: -54px;
  padding: 14px 16px;

  text-align: right;
}

.has-data .acf-vimeo-pro-data__buttons {  
  display: block;
}

.acf-vimeo-pro-data__refresh {

}

.acf-vimeo-pro-data__clear {

}


/**
 * Video data
 */
.acf-vimeo-pro-data-display {
  display: none;
}

.has-data .acf-vimeo-pro-data-display {
  display: block;
}


/**
 * Video preview
 */
.acf-vimeo-data-display__preview {
  border: #eee solid 1px;
}

.acf-vimeo-data-display__preview a {
  position: relative;

  display: flex;
  
  color: #444;
  text-decoration: none;

  opacity: 1 !important;
}

.acf-vimeo-data-display__preview img {
  display: block;
  max-width: 280px;
  height: 140px;
  margin: 0;

  border-right: #eee solid 1px;
}

.acf-vimeo-pro-data-display .video-info {
  flex-grow: 1;

  padding: 14px 16px;

  background: #fff;  
}

.seamless .acf-vimeo-pro-data-display .video-info {

}

.acf-field-repeater .acf-vimeo-pro-data-display .video-info {

}

.acf-vimeo-pro-data-display .video-info h4 {
  margin: 0 0 14px;
}

.acf-vimeo-pro-data-display .video-info div {
  color: #666;
}


/**
 * Messages
 */
.acf-vimeo-pro-data .acf-vimeo-pro-data__message {
  display: inline;
}

.acf-vimeo-pro-data--warning--warning .acf-vimeo-pro-data__message {
  color: red;
}