.acf-vimeo-pro-data a.refresh {
  background: #0085ba;
  padding: 5px 11px 6px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
	cursor: hand;
}

.acf-vimeo-pro-data a.refresh:hover {
  background: #0085ba;
}

.acf-field-vimeo-pro-data a.remove {
	color: red;
	display: none;
}

.acf-field-vimeo-pro-data.has-data a.remove {
	display: block;
}

.acf-vimeo-data-display-preview {
}

.acf-vimeo-data-display-preview img {
  border-radius: 3px 3px 0px 0px;
  display: block;
}


.acf-field-vimeo-pro-data.warning .acf-vimeo-pro-data-message {
		color: red;
}

.acf-vimeo-pro-data .acf-vimeo-pro-data-message {
	margin-top: 10px;
	font-weight: bold;
}

.acf-vimeo-pro-data input {
	max-width: 120px;
}


.acf-vimeo-pro-data-display {
	display: none;
	margin: 10px 0;
	width: auto;
  border-radius: 3px;
  box-shadow: 0px 2px 2px rgba(0,0,0,.2);
  padding: 10px;
}

.acf-vimeo-pro-data-display .video-info {
  padding: 10px;
	font-size: 10px;
	line-height: 1.5em;
}

.acf-field-vimeo-pro-data.has-data .acf-vimeo-pro-data-display {
	display: inline-block;
}

.acf-vimeo-pro-data-display.error {
	color: red;
}
.acf-vimeo-pro-data-display h4 {
	white-space: nowrap;
	margin: 0;
}
